/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    transition: all 1s;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

.affix {
    top: 0;
    z-index: 10;
    width: 100vw;
}

.header {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/img1.jpg") no-repeat center;
    background-size: cover;
}

.header > div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 35vh;
}

a:hover {
    cursor: pointer;
}

.header > div * {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#content {
    min-height: 100vh;
}

.hidden {
    opacity: 0;
}

#popularBlock {
    position: relative;
    top: 0;
    width: 100%;
}

#menuBlock{
    position: relative;
    top: 0;
    width: 100%;
}

#cartBlock{
    position: relative;
    top: 0;
    text-align: center;
}

ol.dish_list{
    text-decoration: none;
    list-style-type: none;
    display: inline; /*ckeck if we can delete this line*/
}

ol.dish_list li{
    display:inline;
    float:left;
}

@media screen and (max-width: 700px) {
    .header {
        display: none;
    }
}

/*ITEM STYLE CSS ENDS*/
