/* CSS Document */

body{
	margin:0px;
	padding:0px;
	text-align:center;
    overflow-x: hidden;
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #928DAB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00d2ff , #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Headerfixed{
	z-index:10;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	text-align:center;
	padding:20px 20px;
	font-family:"Eras Normal";
	font-size:50px;
	text-shadow:rgba(177,61,63,1.00);
    background: #2a333c;
    color: rgba(255,255,255,0.8)
	}

.header{
	position:fixed;
	background-color:grey;
	text-align:center;
	font-family:"Times New Roman";
	width:100%;
	height:80px;
	line-height:80px;
	vertical-align:text-bottom;
	font-size:50px;
}

.subHeader{
	position:relative;
	top:80px;
	height:60px;
	width:100%;
	line-height:60px;
	padding:5px;
	font-size:20px;
}

.button{
	z-index:0;
    position:absolute;
	top:133px;
	margin-left:10%;
	margin-right:10%;
	width:80%;
    
}

.button button{
    background: transparent;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    height: 40px;
    width:32%;
    line-height: 40px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    box-shadow: inset 0 0 0 3px #3071A9;
    transition: all 0.3s ease 0s;

}

.button button:hover{
    background: #fff;
    color: #428BCA;
    box-shadow: inset 0 0 0 0 transparent;
	cursor:pointer;
}
.selfCarousel{
    positon:absolute;
    top:150px;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    position: absolute;
    top:450px;
    height:1000px;
}

#popularBlock{
    position:absolute;
    left:0px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
}

#menuBlock{
    position:absolute;
    top:0px;
    left:3000px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
}

#cartBlock{
    position:relative;
    top:0px;
    left:3000px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
    text-align:center;
}

ol.dish_list{
    text-decoration: none;
    list-style-type:none;
    display:inline; /*ckeck if we can delete this line*/
}

ol.dish_list li{
    display:inline;
    float:left;
}

/*ITEM STYLE CSS ENDS*/