/* CSS Document */

body{
	margin:0px;
	padding:0px;
	text-align:center;
    overflow-x: hidden;
}
.Headerfixed{
	z-index:10;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background-color:rgba(15,15,15,0.8);
	text-align:center;
	padding:20px 20px;
	font-family:"Eras Normal";
	font-size:50px;
	color:#FFFFFF;
	text-shadow:rgba(177,61,63,1.00);
	}

.header{
	position:fixed;
	background-color:grey;
	text-align:center;
	font-family:"Times New Roman";
	width:100%;
	height:80px;
	line-height:80px;
	vertical-align:text-bottom;
	font-size:50px;
}

.subHeader{
	position:relative;
	top:80px;
	height:60px;
	width:100%;
	line-height:60px;
	padding:5px;
	font-size:20px;
}

.button{
	z-index:0;
    position:absolute;
	top:133px;
	margin-left:10%;
	margin-right:10%;
	width:80%;
    
}

.button button{
	width:32%;
	background-color:#3639BF;
	border:0px;
	height:35px;
	font-size:15px;
	line-height:20px;
	color:white;
	transition:all 0.3s ease-in;
}

.button button:hover{
	background-color:black;
	cursor:pointer;
}
.selfCarousel{
    positon:absolute;
    top:150px;
}

.content{
    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    position: absolute;
    top:450px;
    height:1000px;
}

#popularBlock{
    position:absolute;
    left:0px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
}

#menuBlock{
    position:absolute;
    top:0px;
    left:3000px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
}

#cartBlock{
    position:relative;
    top:0px;
    left:3000px;
/*    display:none;*/
    transition:left 0.5s ease-in-out;
    text-align:center;
}

ol.dish_list{
    text-decoration: none;
    list-style-type:none;
    display:inline; /*ckeck if we can delete this line*/
}

ol.dish_list li{
    display:inline;
    float:left;
}

/*ITEM STYLE CSS ENDS*/